:root {
  --headerHeight: 60px;
  --footerHeight: 100px;

  --primaryBackgroundColor: #49706f;
  --primaryFontColor: #444;
  --primaryHoverColor: #355150;

  --secondaryBackgroundColor: #ee9631;
  --secondaryFontColor: white;
  --secondaryHoverColor: #da7d12;

  --disabledBackgroundColor: rgba(80,80,80,0.5);
  --disabledHoverColor: rgba(80,80,80,0.5);
  
  --errorBackgroundColor: rgba(246,54,50);
  --errorFontColor: #f63632;
  --errorHoverColor: #ca0d09;
}

.App {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primaryFontColor);
}

button {
  font-family: 'Prompt', sans-serif;
}

input {
  font-family: 'Prompt', sans-serif;
}
